* {
  background-color: #0A2923;
}

body {
  color: #A47885;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 0 50px;
}

section>* {
  width: 100%;
}
