* {
  background-color: #0A2923;
}

body {
  color: #A47885;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section>* {
  width: 100%;
  max-width: calc(500px + 1 rem);
}
